:root {
  --background: #19191c;
  --border: #605e64;

  --danger: #9c2121;
  --danger2: #eb9e9e;

  --primary1: #906cda;

  --surface0: #25232a;
  --surface1: #333038;
  --surface2: #49464d;

  --text-primary: #ffffff;
  --text-secondary: #908e93;

  --warning: #a87a2a;
  --warning2: #ecd7b2;

  --max-dialog-width: min(80vw, 600px);
}

#mobile {
  --max-dialog-width: 80vw;
}

body,
html,
#app {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 1;
}

body {
  color: var(--text-primary);
  background-color: var(--background);
  font-family: 'Proxima Nova', sans-serif;
  -webkit-tap-highlight-color: transparent;
}

#app {
  min-height: 100dvh;
  justify-content: center;
  align-items: center;
}

#mobile #app {
  justify-content: stretch;
  align-items: stretch;
}

a[target='_blank'] {
  color: var(--selected);
}

a.not-link {
  color: inherit;
  text-decoration: inherit;
}

a.not-link:hover {
  opacity: 0.9;
}

.color-primary {
  color: var(--text-primary);
}

.color-secondary {
  color: var(--text-secondary);
}

.surface {
  background-color: var(--surface0);
}
