h1 {
  font-size: 24px;
}

#mobile h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

h5 {
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

.sm:text-l {
  font-size: 20px;
}

.text-m {
  font-size: 16px;
}

.text-s {
  font-size: 14px;
}

.text-xs {
  font-size: 12px;
}
